<h1>Congratulations, you have booked <%= @listing.property_name %> for <%= @listing.available_date %>!</h1>

<form action='/listings' method='get'>
  <input type='submit' value='Return to Listings'/>
</form>
