<!DOCTYPE HTML>
<html>
<head>
<title> Saucy Supremes BnBs Book BnB </title>
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="css/themify-icons.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/bootstrap-datepicker.min.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->


	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo"><a style="color: #000000" href="index.html">Saucy Supremes BnBs<em>.</em></a></div>
				</div>
				<div class="col-xs-8 text-right menu-1" style="color: #000000">
					<ul>
						<li><a style="color: #000000" href="destination.html">How it Works</a></li>
						<li><a style="color: #000000" href="pricing.html">Sign in</a></li>
						<li><a style="color: #000000" href="contact.html">Contact Us</a></li>
					</ul>	
				</div>
			</div>
			
		</div>
	</nav>
</head>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">

    <div class="gtco-section">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                        <h1>Book Your Luxe BnB Trip</h1>
                        <br>
                        <h2>Our Most Popular BnBs & Destinations</h2>
                        <p>Because there is no place like Saucy Supreme's BnBs!</p>
                    </div>
                <div>
            </div>  
    </div>