<!DOCTYPE HTML>
<html>
<head>
 
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/style2.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Log in to Saucy Supremes BnBs</title>
</head>
<body id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(images/img_bg_2.jpg)">
		<div class="overlay"></div>
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo"><a style="color: #000000" href="index.html">Saucy Supremes BnBs<em>.</em></a></div>
				</div>
				<div class="col-xs-8 text-right menu-1" style="color: #000000">
					<ul>
						<li><a style="color: #000000" href="destination.html">How it Works</a></li>
						<li><a style="color: #000000" href="pricing.html">Log in</a></li>
						<li><a style="color: #000000" href="contact.html">Contact Us</a></li>
					</ul>	
				</div>
			</div>
			
		</div>
	</nav>
	
  <div class="main">
    <p class="sign" align="center">Sign in</p>
    <form class="form1">
      <input class="un " type="text" align="center" placeholder="Username">
      <input class="pass" type="password" align="center" placeholder="Password">
      <a class="submit" align="center">Sign in</a>
      <p class="forgot" align="center"><a href="#">Forgot Password?</p>
                     
    </div>
     
</body>

</html>
