<h2>List a Property</h2>

<form action="/listings" method='post'>
  <input type="text" name="property_name" placeholder="Property name"/>
  <input type="text" name="description" placeholder="Description of your property"/>
  <input type="text" name="price" placeholder="Price per night"/>
  <input type="text" name="available_date" placeholder="Date available: YYYY-MM-DD"/>
  <input type="submit" value="List Property"/>
</form>
