<%= flash[:notice] %>
<br>
<form class="" action="/sessions" method="post">
Fill in your email:
<input type="text" name="email">
Fill in your password:
<input type="text" name="password">
<input type="submit" value="Sign in">
</form>
