<%= flash[:notice] %>

<form class="" action="/users-add" method="post">
Fill in your name:
<input type="text" name="name">
Fill in your email:
<input type="text" name="email">
Fill in your password:
<input type="text" name="password">
<input type="submit" value="Sign up">
</form>
<br>
<a href="/sessions/new">Sign in</a>
